@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e8e8e8;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn {
	background: royalblue;
	border-radius: 4px;
	padding: 10px 20px;
	color: white;
	border: none;
}

.chart-container {
	border-radius: 8px;
	background-color: white;
	box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
}
